<div class="article-form">
  <%= form_with model: article do |form| %>
    <div class="form-item-group">
      <%= form.label :title %>
      <%= form.text_field :title %>
      <% article.errors.full_messages_for(:title).each do |message| %>
        <div><%= message %></div>
      <% end %>
    </div>

    <div class="form-item-group">
      <%= form.label :body %>
      <%= form.text_area :body %>
      <% article.errors.full_messages_for(:body).each do |message| %>
        <div><%= message %></div>
      <% end %>
    </div>

    <div>
      <%= form.submit %>
    </div>
  <% end %>
</div>
