<div class="article-show">
    <div class="card">
      <h1><%= @article.title %></h1>

      <p><%= @article.body %></p>

      <div class="edit">
        <%= link_to "Edit", edit_article_path(@article) %>
        <%= button_to "Destroy", article_path(@article),
                        method: :delete,
                        data: { confirm: "Are you sure?" } %>
      </div>
  </div>

  <h2>Comments</h2>
  <%= render @article.comments %>

  <h2>Add a comment:</h2>
  <%= render 'comments/form' %>
</div>